{% extends "index.html" %}

{% block content %}

    <input type="hidden" id="gameid" name="gameid" value="{{game.id}}">

    <h1 class="fancyheader">{{game.name}} -> Legs</h1>
    <small><a href="/league/{{ league.id }}">{{league}}</a></small>
    <hr>
    </br>

    {% for leg in legs %}
        <p> {% if not leg.blocked %}
            <a href="/league/{{ league.id }}/game/{{game.id}}/leg/{{ leg.id }}">
            {% if leg.winner %}
                <button class="btn btn-success btn-fab btn-fab-mini btn-round">
            {% else %}
                <button class="btn btn-primary btn-fab btn-fab-mini btn-round">
            {% endif %}
                {{leg.number}}
            </button>
            </a>
            {% else %}
                <button class="btn btn-default btn-fab btn-fab-mini btn-round">
                    {{leg.number}}
                </button> 
            {% endif %}
            <!--{% for pl in players %}
                {{pl.player.name}}
            {% endfor %}
            -->

            {% for player in leg.playerdata %}
            <!--{% if player.winner %}<i class="material-icons">emoji_events</i>{% endif %} {{player.name}}:{{player.sets}}-->
                {% if player.id == leg.winner %}
                    <i class="material-icons">emoji_events</i>
                {% endif %}
                    {{player.name}} : {{player.darts|length}}
            {% endfor %}

        </p>
    {% endfor %}

    <!--
    {% for player in game.players %}
        <p><i class="material-icons">face</i>{{player.player.name}} : 
            {% for points in game.points %} 
                {% if points.player_id ==  player.player.id %}
                    {{points.points}}
                {% endif %}
            {% endfor%}
            <i data-user="{{player.player.id}}" class="add_point material-icons">plus_one</i>
        </p>
    {% endfor%}
    -->
    <div class="flexiflex"> 

    </div>



    

{% endblock%}        
