{% load static %}

<!doctype html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons|Gochi+Hand:300,400:" />
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">-->
  <link rel="stylesheet" href="{% static 'league/font-awesome.min.css' %}">
  <!-- Material Kit CSS -->
  <link href="{% static 'league/material-kit/assets/css/material-kit.css' %}" rel="stylesheet" />
  <link href="{% static 'league/spezi.css' %}" rel="stylesheet" />

</head>

<body>

    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                {% block content %}
                <h1 class="fancyheader">Challenges App</h1>
                    <h2>Leagues
                    <button id="addleague" class="btn btn-primary btn-fab btn-fab-mini btn-round" data-toggle="modal" data-target="#exampleModalLong">
                        <i class="material-icons">add</i>
                    </button>
                    </h2>
                    <ul class="no_decoration"> 
                        {% for league in leagues %}
                            <li>
                                <a href="/league/{{ league.id }}/">
                                    <button class="btn btn-primary btn-round">{{league.name}}</button>
                                </a>
                            </li>
                        {% endfor%}
                    </ul>
                    <h2>Free Game</h2>
                {% endblock%}
            </div>
        </div>
    </div>

    {% include "js.html" %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" class="post-form">{% csrf_token %}
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">add League</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <div class="modal-form-body">
                {{ addleagueform.as_p }}
                {{ addleaguemodform.as_p }}
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="submit-player" type="submit" class="btn btn-primary">Save changes</button>
            </form>
            </div>
        </div>
        </div>
    </div>


</body>
</html>