{% load static %}

<!doctype html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons|Gochi+Hand:300,400:" />
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">-->
  <link rel="stylesheet" href="{% static 'league/font-awesome.min.css' %}">
  <!-- Material Kit CSS -->
  <link href="{% static 'league/material-kit/assets/css/material-kit.css' %}" rel="stylesheet" />
  <link href="{% static 'league/spezi.css' %}" rel="stylesheet" />

</head>

<body>

    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                {% block content %}
                <h1 class="fancyheader">Challenges App</h1>
                    <h2>Leagues</h2>
                    <ul class="no_decoration"> 
                        {% for league in leagues %}
                            <li>
                                <a href="/league/{{ league.id }}/">
                                    <button class="btn btn-primary btn-round">{{league.name}}</button>
                                </a>
                            </li>
                        {% endfor%}
                    </ul>
                    <h2>Free Game</h2>
                {% endblock%}
            </div>
        </div>
    </div>

    {% include "js.html" %}

    {% include "add_user_modal.html" %}

</body>
</html>