
{% load static %}

<!--   Core JS Files   -->
<script src="{% static 'league/material-kit/assets/js/core/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'league/material-kit/assets/js/core/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'league/material-kit/assets/js/core/bootstrap-material-design.min.js' %}" type="text/javascript"></script>
<script src="{% static 'league/material-kit/assets/js/plugins/moment.min.js' %}"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{% static 'league/material-kit/assets/js/plugins/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'league/material-kit/assets/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
<!--  Google Maps Plugin  -->
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="{% static 'league/material-kit/assets/js/material-kit.js' %}" type="text/javascript"></script>

<script>
    $( document ).ready(function() {

        function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            
            var csrftoken = getCookie('csrftoken');

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            
            console.log( "ready!" );

            // indexview functions
            $('#addleague').on('click', function addleague(what) {
                    console.log("add league");
                    //$(document).find('.modal-form-body').html('')
                    //addplayerselect();
                    //activate_submit();
                });

            // leagueview functions

            $('#addplayers').on('click', function adduser(what) {
                    console.log("add player");
                    $(this).hide();
                    $("#removeplayers").hide();
                    $("#adduserform").show();
                    //$(document).find('.modal-form-body').html('')
                    //addplayerselect();
                    //activate_submit();
                });
            
            $('#removeplayers').on('click', function adduser(what) {
                console.log("remove player");
                $('#addplayers').hide();
                $(this).hide();
                $("#removeuserform").show();
                //$(document).find('.modal-form-body').html('')
                //addplayerselect();
                //activate_submit();
            });
            
            // gameview functions

            $('#gamefilter').val('');
            $('#gamefilter').on('keyup', function(){
                console.log($(this).val())
                let searchpattern = $(this).val();
                console.log(searchpattern)
                let games = $('#gameslist').find('p');
                $.each(games, function( index, value ) {
                    //let search = games[index].innerText.search(searchstring);
                    let match = games[index].innerText.search(new RegExp(searchpattern, 'gi'))
                    
                    if(match == -1) {
                        console.log(this)
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
                
            });

            // legview functions

            var players = $('.player')  
            var activeplayer = null
            
            activeplayer = $('.activeplayer')
            active_player_index = $(activeplayer).index();

            // first select
            if(activeplayer.length) {
                console.log(activeplayer.length)
            } else {

                players.on('click', function(){
                    active_player_index = $(this).index();
                    console.log(active_player_index)
                    activeplayer = $(this)
                    activeplayer.addClass("activeplayer");
                    $('.player').unbind();
                });
            }
            

            var set_double = false
            var set_tripple = false

            var init_throw = {
                player: 'none',
                leg: $('#leg_id').val(),
                points: 'none',
                double: false,
                tripple: false,
            }

            $('.btn_double').on('click', function(){
                    if($(this).hasClass('btn-primary')) {
                        set_double = true
                        $(this).removeClass('btn-primary');
                        $(this).addClass('btn-info');
                    } else {
                        set_double = false
                        $(this).removeClass('btn-info');
                        $(this).addClass('btn-primary');
                    }   
                });
            
            $('.btn_tripple').on('click', function(){
                    if($(this).hasClass('btn-primary')) {
                        set_tripple = true
                        $(this).removeClass('btn-primary');
                        $(this).addClass('btn-info');
                    } else {
                        set_tripple = false
                        $(this).removeClass('btn-info');
                        $(this).addClass('btn-primary');
                    }
                });
            
            

            $('.numberbtn').on('click', function(){
                if($(this).data('value') == 25 && set_tripple) {
                    set_tripple = false
                    set_double = true
                }
                build_throw($(this).data('value'));
                $('.pushed').removeClass('pushed')
                $(this).addClass('pushed')
                
            });

            function build_throw(count) {
                this_throw = init_throw;
                    
                this_throw.player = $(".activeplayer").find('.player_id').val();
                this_throw.what = 'throw'
                this_throw.points = count;
                this_throw.double = set_double;
                this_throw.tripple = set_tripple;
                //set_double = false;
                //set_tripple = false;
                
                // zum Server werfen
                throw_dart(this_throw)

                //zurücksetzen von double und tripple nach wurf
                if(set_double) {
                    $('.btn_double').trigger('click')
                }

                if(set_tripple) {
                    $('.btn_tripple').trigger('click')
                }
            }
            
            // deaktivieren wenn es einen gewinner gibt
            winner = $('#winner_id').val()
            if (winner != 'None') $('.numberbtn').unbind();
            

            function throw_dart(this_throw) {
                console.log(this_throw);
                
                var last_player = activeplayer
                
                $.ajax({
                        url: "",
                        dataType : 'json',
                        method: "POST",
                        data: JSON.stringify(this_throw),
                        //async: false,
                        cache: false,
                        success: function(data) {
                            // reload wenn gewonnen 
                            if(data.win) window.location.reload()
                            
                            console.log(data.points)
                            console.log(data.overthrowed)
                          
                            $(activeplayer).find('.points').text(data.points)
                            
                            console.log(data.throwed)
                            $(".thrown").removeClass("thrown");
                            var darts = $(activeplayer).find('.dart')
                            if (data.throwed.first) {
                                $(darts[0]).addClass("thrown");
                            }
                            if (data.throwed.second) {
                                $(darts[0]).addClass("thrown");
                                $(darts[1]).addClass("thrown");
                            }
                            // change active player
                            if(data.throwed.third) {
                                $(darts[0]).addClass("thrown");
                                $(darts[1]).addClass("thrown");
                                $(darts[2]).addClass("thrown");       

                                if(active_player_index < players.length-1 ) {
                                    active_player_index++;
                                } else {
                                    active_player_index = 0;
                                }
                                activeplayer = $(players[active_player_index]);
                                $(".activeplayer").removeClass("activeplayer");
                                activeplayer.addClass("activeplayer");
                            }                            

                            ajax_success = true
                            
                            //if(data.overthrowed) {
                            //    window.location.reload()
                            //}
                        }
                    }); 
            }

            // letzten wurf Rückgangig machen 
            $('.btn_undo').on('click', function(){
                    console.log("undo .. ")
                    undo = init_throw
                    undo.what = 'undo' 
                    $.ajax({
                        url: "",
                        dataType : 'json',
                        method: "POST",
                        data: JSON.stringify(undo),
                        //async: false,
                        cache: false,
                        success: function(data) {
                            console.log(data.success)
                            if(data.success) window.location.reload();    
                        }
                    }); 
                });
    });
</script> 
