{% extends "index.html" %}
{% load render_table from django_tables2 %}

{% block content %}

<a id="back" href="/league"><i class="material-icons">keyboard_arrow_left</i></a>


<h1 class="fancyheader">
    League {{league.name}} 
</h1>

<h2>
    Games
</h2>

{% for game in games%}
<p><a href="/league/{{ league.id }}/game/{{game.id}}"><button class="btn btn-primary btn-round">{{game.name}}</button></a></p>
{% endfor %}


{% render_table table %}
<div id="adduserform">
    <form action="" method="post">
        {% csrf_token %}
        {{  add_user_form   }}
        <button class="btn btn-primary btn-sm" type="submit" value="Submit"><i class="material-icons">add</i></button>
    </form>
</div>
<button id="addplayers" class="btn btn-primary btn-sm"><i class="material-icons">add</i></button>
<!--<a id="addplayers" href="addplayers" data-toggle="modal" data-target="#exampleModalLong" ><i class="material-icons">add</i></a>-->
{% endblock%}


