{% extends "index.html" %}

{% block content %}

    <input type="hidden" id="gameid" name="gameid" value="{{game.id}}">
    <input type="hidden" id="leg_id" name="leg_id" value="{{leg.id}}">

    <div class="leg_header">
        <h1 class="fancyheader">{{game.name}} -> {{leg.number}}</h1>
        <small><a href="/league/{{ root }}/game/{{game.id}}">{{game.name}}</a></small>
        <hr>
    </div>
    
    <div class="flexiflex"> 
    {% for player in players %}
        <!--<div class="card">-->
        
        
        <div class="flexitem player {% if activeplayer == player.id %}activeplayer{% endif %}" data-userid="{{player.id}}" >
            <div>
            <!--<p class="points_bak">{% if debug %}20{% else %}501{% endif %}</p>-->
           
                        <div class="player_item">
                            <input type="hidden" class="player_id" name="player_id" value="{{ player.id }}">
                        </div>
                        <div class="player_item">
                            <h2>{{ player.name }}</h2>
                        </div>
                        <div class="player_item"> 
                            <p class="points">
                                {{player.points}}
                            </p>
                        </div>
                   
                <div class="player_item">
                    <ul class="darts">
                        <li class="dart {{player.throwed.first}}"><i data-user="{{player.id}}" class="material-icons">send</i></li>
                        <li class="dart {{player.throwed.second}}"><i data-user="{{player.id}}" class="material-icons">send</i></li>
                        <li class="dart {{player.throwed.third}}"><i data-user="{{player.id}}" class="material-icons">send</i></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor%}
    </div>

    {% if not game.done %}
        {% include "counter.html" with counter=range %}
    {% endif %}
    

    

{% endblock%}        
